@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  scroll-behavior: smooth;
}

/* TU FONDO CUSTOM */
.bg-cyan-spotlight {
  position: relative;
  overflow: hidden;
}

.bg-cyan-spotlight::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background: radial-gradient(
    circle at center,
    rgba(6, 182, 212, 0.12) 0%,
    rgba(6, 182, 212, 0.06) 20%,
    rgba(0, 0, 0, 0) 60%
  );
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-text-slide {
  animation: textSlide 0.8s ease-out;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slide-down {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.35s ease-out;
}

